.AlgorithmSection_page{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}


.AlgorithmSection_page .heading_container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
text-align: center;
color: white;
}

.heading_container h1{
    width: 100%;
    font-size:3rem;
    font-weight: 500;
    line-height: 1.1;
}

.heading_container h1 span {
    background: rgb(255,0,160);
    background: linear-gradient(90deg, rgba(255,0,160,1) 15%, rgba(9,14,219,1) 100%);    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.heading_container p{
    width: 70%;
    font-size:0.8rem;
    font-weight: 300;
    line-height: 1.3;
}

.AlgorithmSection_page .Algo_main_container{
    position: relative;
    width:100%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 1.5rem;

    &::before{
        content: "";
        width: 0.01rem;
        height: 0.01rem;
        position:absolute;
        top: 90%;
       right: 100%;
        z-index: -1;

        box-shadow: 0 0 500px 140px #eb06aa3e;
    }

    &::after{
        content: "";
        width: 0.01rem;
        height: 0.01rem;
        position:absolute;
        top: 20%;
        left: 100%;
        z-index: -1;

        box-shadow: 0 0 500px 140px #090cdb50;
    }
}





.Algo_main_container .box {
    height: 15rem;
    width: 100%;
    border-radius: 2rem;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    color: white;
    cursor: pointer;
    opacity: 0;
    scale: 0;

    &:hover {
        transform: rotateY(180deg);
    }
  }

  .algo_box_animation{
    animation-name: box_animation;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes box_animation {
    to{
        scale: 1;
        opacity: 1;
    }
  }


  .Algo_main_container .front, .Algo_main_container .back {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
  }

  .Algo_main_container .front {
    display: flex;
    align-items: end;
    justify-content: start;
  }

  .Algo_main_container .back {
    background:transparent;
    transform: rotateY(180deg);
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .Algo_main_container .content {
    position: relative;
    padding: 20px;
    text-align: start;
    font-size: 16px;
  }

  .Algo_main_container .content p{
    font-size: 0.8rem;
    font-weight: 400;
  }

  
  .Algo_main_container .content span{
    font-size: 1.2rem;
    font-weight: 800;
  }

  .Algo_main_container .bigBox{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Algo_main_container .bigBox .front {
    display: flex;
    align-items:center;
    justify-content:center;
}




/*  front side background */

.miniBox1 .front{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.8;
        background-image: url(../../assets/images/algorithmSection_images/algobox_bg.webp);
        background-size: cover;
        background-position: center;
    }
}

.miniBox2 .front{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.8;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/algorithmSection_images/algobox_bg_2.webp);
}
}

.miniBox3  .front{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.8;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/algorithmSection_images/algobox_bg_3.webp);
}
}


.miniBox4  .front{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.7;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/algorithmSection_images/algobox_bg_1.webp);
}
}

.bigBox .front{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.6;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/algorithmSection_images/algobox_bg_big.webp);
}
}



/* back side images */

.miniBox1 .back{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.3;
        background-image: url(../../assets/images/algorithmSection_images/algobox_bg_back.webp);
        background-size: cover;
        background-position: center;
    }
}

.miniBox2 .back{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.3;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/algorithmSection_images/algobox_bg_2_back.webp);
}
}

.miniBox3  .back{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.3;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/algorithmSection_images/algobox_bg_3_back.webp);
}
}


.miniBox4  .back{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.3;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/algorithmSection_images/algobox_bg_1_back.webp);
}
}

.bigBox .back{
    &::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity:0.3;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/algorithmSection_images/algobox_bg_big_back.webp);
}
}



@media (max-width:850px) {
    
    .AlgorithmSection_page .Algo_main_container{
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        gap: 1.5rem;
    }

    
  .Algo_main_container .bigBox{
    width: 100%;
    height:10rem;
    background-color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
}




@media (max-width:600px) {

    .AlgorithmSection_page{
        gap: 2rem;
        padding: 0 0rem;
    }
    .heading_container h1{
        font-size:2rem;

    }
    
    .heading_container p{
        width: 100%;
        font-size:0.8rem;
        font-weight: 300;
        line-height: 1.3;
    }


    .AlgorithmSection_page .Algo_main_container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .Algo_main_container .bigBox .front {
        display: flex;
        align-items:end;
        justify-content:start;
    }

    .Algo_main_container .bigBox{
        width: 100%;
        height:15rem;
    }


}




@media (max-width:340px) {
    .heading_container h1{
        font-size:1.5rem;

    }

    .Algo_main_container .content span{
        font-size: 1rem;
      }
    
  }